<mat-card>
    <div class="container">
        <div class="profile-pic">
            <img src="assets/socrates_pepe.png" />
        </div>
        <div class="info">
            <div class="name-div">
                <span class="pre-stuff"> Name:</span>
                <span> Socrates </span>
            </div>  
            <div class="origin-div">
                <span class="pre-stuff"> Country: </span>
                <span> Greece </span>
            </div>
            <div class="bio-div">
                <span class="pre-stuff"> Description: </span>
                <span> Omae wa mou shindeiru </span>
            </div>
        </div>

    </div>
</mat-card>