<mat-card>
    <div class="container">
        <div class="profile-pic">
            <img src="assets/socrates_pepe.png" />
        </div>
        <div class="info">
            <div class="name-div">
                <span class="pre-stuff"> Nome:</span>
                <span> Nome do usuário </span>
            </div>  
            <div class="origin-div">
                <span class="pre-stuff"> País: </span>
                <span> País de origem do usuário </span>
            </div>
            <div class="bio-div">
                <span class="pre-stuff"> Descrição: </span>
                <span> Descrição/Bio do usuário </span>
            </div>
        </div>

    </div>
</mat-card>