<div class="bemvindo"> 
    <h1> Bem-Vindo ao TwittEESC </h1>

</div>
<div class="caixa-icone">
    <img class="icone" src="./assets/eescquilo.png" alt="Esquilo de óculos, logo do TwittEESC"/>
</div>
<form class="login-senha">
    <label for="username"> Login: </label>
    <input type="text" name="username" required>

    <label for="senha"> Senha: </label>
    <input type="password" name="senha" required>

    
    <input class="entrar" type="submit" value="Entrar" routerLink="../feed">
</form>


<div class="outras-acoes">
    
    <a href="#"> Esqueci minha senha </a>
    
    <span>  |  </span>
    
    <a href="#"> Crie sua conta no TwittEESC </a>
    
</div>