h2 {
    margin-top: 15px 0 15px 0;
    text-align: center;
}

.posts {
    align-items: center;
}

ul {
    list-style-type: none;
    
}

li {
    width: 40%;
    padding: 10px 0;
    align-items: center;
    margin: auto;
}


.author {
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: bold;
}

.textcont {
    word-wrap: break-word;
    font-size: 14px;
    padding-bottom: 20px;

}

.date {
    font-size: 12px;
    padding-bottom: 10px;
}

.isLiked {
    border: solid 5px green;
}

